* {
  border: 0px solid red;
  font-family: "Montserrat", sans-serif;
  margin: 0.2em;
  scroll-behavior: smooth;
}

body,
html {
  background-image: linear-gradient(to bottom, #202124, #070808);
  background-size: cover;
  height: 100%;
  margin: 0;
}

.colored-square {
  width: 50%;
  border-radius: 10px;
}

.colored-square:after {
  content: "  ";
  display: block;
  padding-bottom: 100%;
}

.root-container {
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="color"] {
  width: 40%;
  padding: 0;
  background-color: inherit;
}

.color-hexcode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  background-color: white;
  color: black;
  width: 50%;
  align-self: flex-end;
}

#result {
  color: white;
  background-color: black;
  padding-bottom: 1em;
  margin: 0;
}

h1,
p,
i,
h2 {
  text-align: center;
  background-color: inherit;
  padding: 0.4em;
  color: inherit;
}
p {
  padding: 0.4em 1em;
}

i {
  align-self: flex-end;
}

#background-color {
  background-color: #000000;
  border: 2px solid #ffffff;
}

#foreground-color {
  background-color: #ffffff;
  border: 2px solid #000000;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

footer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
footer > a {
  color: inherit;
  font-size: 1.5rem;
  transition: transform 0.3s;
}
footer > a:hover {
  transform: translateY(-10px);
}